@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
 

* {  box-sizing : border-box ; }
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding-top: 50px;
}
nav { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  justify-content: space-around;
  offset: auto;
  overflow-x: auto;
  z-index: 100; 
  background: linear-gradient(54deg,#9ed58f 10%, #317067 65%);
  background: -webkit-linear-gradient(54deg,#9ed58f 10%, #317067 65%);
  background: -moz-linear-gradient(54deg,#9ed58f 10%, #317067 65%);
 
}

ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li a {
  color: #fff;
  padding: 15px;
}
ul li a:hover {
  color: #fff;
  padding: 15px;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black; 
    box-shadow: 15px 5px 10px 5px #aaaaaa;
}

h2 {
  text-align: center;
}

section {
  padding: 20px;
  margin: 15px auto 0;
 margin-top: -75px;
}

.bg-red {
  background-color: #df292d;
  color: #fff;
}
#title{
  text-align: center;
}
 .container {
   display: flex; 
    /* flex-wrap: wrap;  */
    /* justify-content: center;  */
   margin: 100px;
   justify-content: space-evenly;
  ;
}   
.tribute-info{
  max-width: 450px;
}

 div.newspaper { 
	/* margin :  20px 10px; */
	column-gap : 100px ;
	column-rule : 3px solid darkgrey ; 
   column-count: 2; 
 
}
 
.responsive-img {
   display: block;
  height: auto;
   max-width: 100%;
}
  img { 
   margin-left: auto;
   margin-right: auto;  
   width: 75%;
}  
  img:hover {
  box-shadow: 10px 5px 10px 5px #aaaaaa;
}
.img-div p {
  background-color: #eee;
  font-size: 12px; 
  padding: 10px;
  text-align: center;
}
 
hr{
  color: silver;
}
.videoContainer {
  position: relative;
  padding-bottom: 45.25%;
  height: 0;
  padding-left: 1.5em;
  margin: 10px;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

blockquote{
   font-style: italic;
}

footer {
  text-align: center;
  font-weight: 400;
  background-color: rgb(0, 122, 92);
  color: rgb(245, 240, 240);
  padding: 15px;
}